body {
  width: 100vw;
  height: 100vh;
  background-image: url("textures/background.jpg");
  overflow-x: hidden;
	/* overflow-y: hidden; */
}

#nextHand {
  display: none;
}

#creation {
  text-align: center;
  margin-top: 150px;
  color: black;
  font-weight: bold;
  z-index: 7;
}

.alinhar-final{
  display: flex;
  justify-content: flex-end;
}

.alinhar-centro{
  display: flex;
  justify-content: center;
}

.call-fold{
  position: relative;
  margin-top: 450px; 
  margin-left: 140px;
  z-index: 5;
}

.bot1_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 330px; 
  margin-left: -265px;
  color: #fff;
}

.bot2_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 220px; 
  margin-left: -185px;
  color: #fff;
}

.bot4_pot{
  z-index: 4;
  position: absolute;
  margin-top: 220px;
  margin-left: 90px;
  color: #fff;
}

.bot5_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 330px; 
  margin-left: 190px;
  color: #fff;
}

.player_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 440px; 
  margin-left: -90px;
  color: #fff;
}

.table_pot {
  z-index: 4; 
  position: absolute;
  margin-top: 250px; 
  margin-left: -45px;
  color: #fff;
}

.bot-1 {
 z-index: 1;
 height: 250px;
 position: absolute;
 margin-top: 240px;
 margin-left: -415px;
}

.bot-2 {
  z-index: 1; 
  height: 250px; 
  position: absolute; 
  margin-top: -15px; 
  margin-left: -205px; 
  transform: rotate(90deg);
}
 
.bot-4 {
  z-index: 1; 
  height: 250px; 
  position: absolute; 
  margin-top: -20px; 
  margin-left: 65px; 
  transform: rotate(90deg);
}

.bot-5 {
  z-index: 1; 
  height: 250px; 
  position: absolute; 
  margin-top: 190px;
  margin-left: 335px; 
  transform: rotate(180deg);
}

.table {
  height: 900px; 
  width: 1200px;
  z-index: 2; 
  position: absolute;
}

.table-card-0 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 295px;  
  margin-left: -163px;
}

.table-card-1 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 295px; 
  margin-left: -112px;
}

.table-card-2 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 295px; 
  margin-left: -62px;
}

.table-card-3 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 295px; 
  margin-left: 6px;
}

.table-card-4 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 295px; 
  margin-left: 75px;
}

.bot-1-card-0 {
  z-index: 3;
  height: 70px;
  position: absolute;
  margin-top: 330px;
  margin-left: -335px;
  transform: rotate(90deg);
}

.bot-1-card-1{
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 280px; 
  margin-left: -335px; 
  transform: rotate(90deg);
}

.bot-2-card-0 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 140px; 
  margin-left: -210px;
}

.bot-2-card-1 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 140px; 
  margin-left: -160px;
}

.bot-4-card-0 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 140px;
  margin-left: 60px;
}

.bot-4-card-1 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 140px;
  margin-left: 110px;
}

.bot-5-card-0 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 330px; 
  margin-left: 265px; 
  transform: rotate(90deg);
}

.bot-5-card-1 {
  z-index: 3; 
  height: 70px; 
  position: absolute; 
  margin-top: 280px; 
  margin-left: 265px; 
  transform: rotate(90deg);
}

.player-card-0 {
  z-index: 3; 
  height: 140px; 
  position: absolute; 
  margin-top: 480px; 
  margin-left: -45px;
}

.player-card-1 {
  z-index: 3; 
  height: 140px; 
  position: absolute; 
  margin-top: 480px; 
  margin-left: -140px;
}

input[type='file'] {
  display: none
}

label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}