body {
  width: 100vw;
  height: 100vh;
  background-image: url("textures/background.jpg");
  overflow-x: hidden;
	/* overflow-y: hidden; */
}

#nextHand {
  display: none;
}

#creation {
  text-align: center;
  margin-top: 150px;
  color: black;
  font-weight: bold;
  z-index: 7;
}

.alinhar-final{
  display: flex;
  justify-content: flex-end;
}

.alinhar-centro{
  display: flex;
  justify-content: center;
}

.call-fold{
  position: relative;
  margin-top: 400px; 
  margin-left: 500px;
  z-index: 5;
}

.bot1_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 170px; 
  margin-left: -214px;
}

.bot2_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 340px; 
  margin-left: -240px;
}

.bot4_pot{
  z-index: 4;
  position: absolute;
  margin-top: 150px;
  margin-left: 5px;
}

.bot5_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 210px; 
  margin-left: 175px;
}

.player_pot{
  z-index: 4; 
  position: absolute;
  margin-top: 400px; 
  margin-left: 5px;
}

.bot-1 {
 z-index: 1;
 height: 230px;
 position: absolute;
 margin-top: 200px;
 margin-left: -305px;
}

.bot-2 {
  z-index: 1; 
  height: 230px; 
  position: absolute; 
  margin-top: -25px; 
  margin-left: -160px; 
  transform: rotate(90deg);
}
 
.bot-4 {
  z-index: 1; 
  height: 230px; 
  position: absolute; 
  margin-top: -25px; 
  margin-left: 62px; 
  transform: rotate(90deg);
}

.bot-5 {
  z-index: 1; 
  height: 230px; 
  position: absolute; 
  margin-top: 150px;
  margin-left: 235px; 
  transform: rotate(180deg);
}

.table {
  height: 800px; 
  width: 900px;
  z-index: 2; 
  position: absolute;
}

.table-card-0 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 250px;  
  margin-left: -163px;
}

.table-card-1 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 250px; 
  margin-left: -112px;
}

.table-card-2 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 250px; 
  margin-left: -62px;
}

.table-card-3 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 250px; 
  margin-left: 6px;
}

.table-card-4 {
  z-index:3; 
  height: 75px; 
  position: absolute; 
  margin-top: 250px; 
  margin-left: 75px;
}

.bot-1-card-0 {
  z-index: 3;
  height: 50px;
  position: absolute;
  margin-top: 280px;
  margin-left: -265px;
  transform: rotate(90deg);
}

.bot-1-card-1{
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 240px; 
  margin-left: -265px; 
  transform: rotate(90deg);
}

.bot-2-card-0 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 118px; 
  margin-left: -163px;
}

.bot-2-card-1 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 118px; 
  margin-left: -125px;
}

.bot-4-card-0 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 118px;
  margin-left: 62px;
}

.bot-4-card-1 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 118px;
  margin-left: 100px;
}

.bot-5-card-0 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 276px; 
  margin-left: 200px; 
  transform: rotate(90deg);
}

.bot-5-card-1 {
  z-index: 3; 
  height: 50px; 
  position: absolute; 
  margin-top: 240px; 
  margin-left: 200px; 
  transform: rotate(90deg);
}

.player-card-0 {
  z-index: 3; 
  height: 120px; 
  position: absolute; 
  margin-top: 430px; 
  margin-left: -60px;
}

.player-card-1 {
  z-index: 3; 
  height: 120px; 
  position: absolute; 
  margin-top: 430px; 
  margin-left: -140px;
}

input[type='file'] {
  display: none
}

label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}