body {
    width: 100vw;
    height: 100vh;
	background-image: url("http://getwallpapers.com/wallpaper/full/3/2/7/488264.jpg");
	overflow-x: hidden;
	overflow-y: hidden;
}

div {
    width: 100%;
}

d1 {
	width: 80%;
}

d2 {
	width: 40%;
}

d3 {
	width: 60%;
}

img {
  width: 131px;
  height: 200px;
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
}

.player_bot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px black;
    background: rgb(125,119,232);
    background: linear-gradient(90deg, rgba(125,119,232,1) 0%, rgba(162,239,255,1) 100%);
}

.user {
    background: rgb(157,33,33);
    background: linear-gradient(90deg, rgba(157,33,33,1) 0%, rgba(209,162,255,1) 100%);
}

.table {
  height:400px;
  width: 100vh;
  background: rgb(14,71,4);
  background: linear-gradient(90deg, rgba(14,71,4,1) 0%, rgba(8,43,2,1) 100%);
  border: 15px solid rgb(99, 56, 1);
  border-radius: 20%;
  box-shadow: 0px 1px 5px black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.table_cards{
  width: 43px;
  height: 65px;
  object-fit: cover;
  display: flex;
  justify-content: flex-start;	
}

.bot_card {
	width: 26px;
	height: 40px;
	object-fit: cover;
	display: flex;
	justify-content: flex-start;	
	image-orientation: from-image;
}

.player_card {
  width: 131px;
  height: 200px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
    display:flex;
    align-items: center;
	justify-content: flex-end;
}

.left{
    display:flex;
    align-items: center;
	justify-content: flex-start;
}

.topRight{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.top_left{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
	height: 100px;
	width: 200px
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-content: center;

}

.menuButton{
	height: 70px;
	width: 80px;
	padding: 10px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}
.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}




 



